body{
    background-color: white;
    color: black;
    max-width: 100%;
    width: 1320px;
}
.hero-section{
    border-bottom: #2986E2 6px solid;
    height:40dvh;
    background-attachment: fixed;
    background-position: center !important;
    background: linear-gradient(rgba(0,0,0,0.8),rgba(0,0,0,0.8)) , url(images/img/page-img.jpg);
}
.button{
    width: 140px;
    border-radius: 30px;
    background-color: #535656;
    padding: 9px 15px;
    text-align: center;
}
.hero{
    position: relative;
    top: 23%;
    left: 3%;
}
.header {
    background-color: rgba(12, 11, 9, 0.61);
}

.branding {
    background-color: rgba(12, 11, 9, 0.61);
    min-height: 60px;
    padding: 10px 0;
    transition: 0.3s;

}

#navbarNavDropdown {
    color: #fff !important;
}

.nav-link {
    color: #fff !important;
    font-size: 16px;
    font-weight: 400;
    text-transform: uppercase;
    padding: 0 15px !important;
}

.btn-GAA {
    position: absolute;
    right: 90px;
    top: 16%;
    font-weight: 400;
    font-size: 15px;
    opacity: 1;
    background-color: #2986E2 !important;
    color: #fff;
    text-transform: uppercase;
    padding: 13px 20px !important;
}
/**Footer styles**/

.foot-row-1 {
    line-height: 10px;
}

.foot-row-1 p a {
    text-decoration: none;
    color: #fff;
    opacity: 0.7;
    font-size: 15px;
    opacity: 0.6;
}

.foot-row-1 p a:hover {
    color: #F36429;
}

.foot {
    background-color: #222222;
}

.foot2 {
    background-color: #313131;
    padding: 25px 0;
    text-align: center;
    opacity: 0.7;
}